{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "printWidth": 80,
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "svelteSortOrder": "scripts-markup-styles",
    "svelteStrictMode": false,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": true
  }